<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516426305461-rugjr08psrgbo12gv49qci92lofk3h9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516426305461-rugjr08psrgbo12gv49qci92lofk3h9c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>516426305461-599lbubcg4j016jsm7dbou7isuolq0ve.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlYnyfrY6xAxsKSifd7uizBF3Ug8TlvmA</string>
	<key>GCM_SENDER_ID</key>
	<string>516426305461</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circum.rider</string>
	<key>PROJECT_ID</key>
	<string>circum-2797c</string>
	<key>STORAGE_BUCKET</key>
	<string>circum-2797c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516426305461:ios:deacc66a1db90dede813fc</string>
</dict>
</plist>